name: Build and Run Docker Simulation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:       # <--- Adds a "Run Workflow" button for manual testing

jobs:
  docker-build-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Trivy DB
        uses: action/cache@v4
        with:
          path: .trivy
          key: ${{ runner.os }}-trivy-db
          restore-keys: |
            ${{ runner.os }}-trivy-db

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          tags: wifi-simultaion:latest
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker Image Scan with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'wifi-simulation:latest'
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          scanners: 'vuln,secret,misconfig'
          severity: 'CRITICAL,HIGH'
          cache-dir: .tryivy
      
      - name: Run Simulation
        run: docker run --rm wifi_simulation:latest
