name: Build and Run Docker Simulation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:       # <--- Adds a "Run Workflow" button for manual testing

jobs:
  docker-build-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        # We add "./app" at the end to tell Docker the files are in the app folder
        run: docker build -t wifi-simulation:latest ./app

      - name: Run Simulation
        run: docker run --rm wifi-simulation:latest
