name: Build and Run Docker Simulation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:       # <--- Adds a "Run Workflow" button for manual testing

jobs:
  docker-build-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t wifi-simulation:latest ./app

      - name: Docker Image scan with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'wifi-simulation:latest'
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          scanners: 'vuln,secret,misconfig'
          severity: "CRITICAL, HIGH"         

      - name: Run Simulation
        run: docker run --rm wifi-simulation:latest
