name: Build and Run Docker Simulation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  docker-build-run:
    runs-on: ubuntu-24.04.3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t wiffi-simulation:v0.0.5 .

      - name: Run Simulation
        run: docker run --rm wifi-simulation:v0.0.5
